input {
  kafka {
        bootstrap_servers => "localhost:9092"
        topics => "test"
        group_id => "test"
        type => "test"
        
        
        
        }
  kafka {
        bootstrap_servers => "localhost:9092"
        topics => "test2"
        group_id => "test2"
        type => "test2"
        
        
        }
}
filter {if [type] == "test"{
	  csv {
	     separator => ","
	     columns =>  ["dealTime","district","vil","address","lat","lon","houseType","unitPrice","houseAge","special","houseArea","landArea","carPlace","neighbor","floor","floorSum","state_code"]
	      }
	      mutate {
		convert => {"lat" => "float"}
		convert => {"lon" => "float"}
		rename => {"lat" => "[location][lat]"} 
		rename => {"lon" => "[location][lon]"}
	    }
}
if [type] == "test2"{
	  csv {
	     separator => ","
	    columns => ["address","name","rating","lat","lon","state_code"]
	      }
	      mutate {
		convert => {"lat" => "float"}
		convert => {"lon" => "float"}
		rename => {"lat" => "[location][lat]"} 
		rename => {"lon" => "[location][lon]"}
	    }
    
     }

}
  

output { if [type] == "test"{
	  elasticsearch {
	     hosts => "localhost:9200"	     index => "test_data"
	     document_type => "test"
	      }
     }
 else{
           elasticsearch {
	     hosts => "localhost:9200"	     index => "test2_data"
	     document_type => "test2"
	      }
     }

  stdout{codec => rubydebug}
}
